.main{
	display: flex;
	justify-content: space-between;
	color: white;
}
.container{
	width: 70%;
	margin: auto;
}

.two{
	padding: 15px 0px;
}

.two ul li{
	display: inline;
}
.two ul  a{
	text-decoration: none;
	color: white;
	padding-left: 25px;
    font-size: 15px;
   
}
.bg{
	background-color: #2D2C50;
	height: 75px;
	
}
.chitti{
	display: flex;
	justify-content: space-around;
}
.yashu{
	display: flex;
	justify-content: space-around;
}
.container{
	width: 70%;
	margin: auto;
}
.a{
	color: red;
}
.c{
	color: red;
}
.two i{
  padding-top: 55px;
  font-size: 40px;
  padding-right:5px;
}
.three i{
  padding-top: 40px;
  font-size: 40px;
  padding-right:5px;
}
.one i{
	font-size: 40px;
	padding-right:5px;
	padding-top: 14px;
}
.charanya{
	padding-top: 70px;
}
.seven{
	position: absolute;
	top:200px;
	right: 200px;
}
.yashu{
	padding-right:600px;
}
.durga{
	height: 200px;
	width: 200px;
	background-color: white;
	padding: 30px;
	position: absolute;
	top:420px;
	right: 450px;
	outline:2px dotted red;
	outline-offset: -20px;
}
.durga i{
	font-size: 40px;
	color: red;
	padding-top:10px;
}

@media screen and (min-width:320px) and (max-width:468px){

/*.container{
	width: 80%;
}*/
.one{
	font-size: 20px;
}
.bg{
		background-color: #2D2C50;
height: 250px;
	width:630px;
}
.two{
	padding-left: 70px;
}
.two ul li{
	display:block;
}
.a h4{


}
.seven{
	position: absolute;
	top:800px;
	right: 100px;
}
.charanya{
margin-left: 50px;
/*text-align: center;*/
}
.one i{
	font-size: 40px;
	padding-right:5px;
	padding-top: 14px;
	padding-left: 70px;
}
.two i{
	font-size: 40px;
	padding-right:5px;
	padding-top: 25px;
/*	padding-left: 70px;*/
}
.three i{
	font-size: 40px;
	padding-right:5px;
	padding-top: 14px;
	padding-left: 70px;
}
.four p{
	width: 100%;
}



















}