.heading{
	background-color: pink;
	padding:20px;
	border-radius: 20px;
	margin: 0px 20px;
	text-align: center;
}
.todo{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60vh;
}
#btn{
	margin-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}