.one{
	float: left;
	width: 50%;
	color: orange;
}
.two{
	float: left;
	width: 50%;
	text-align: right;
	padding-top: 15px;


}
.two ul li{
	display: inline;
}
.container{
	width: 80%;
	margin: auto;
}
.two ul li a{
	padding-left: 20px;
	color: white;
	text-decoration: none;
   
}
.bg{ background-color:#293e7c;
     height:75px; }
#one{
	color: orange;
}
.clear{
	content:"";
	clear: both;
}
.three{
	text-align: center;
	font-size: 30px;
	color: white;
}
.bgimage{
	background-image: url("backgroundimg.jpg");
	background-position: center;
	background-size: cover;
	padding: 90px 0px;
	border-top: 2px solid orange;
	margin-top: -5px;
}
.clear{
	content: "";
	clear: both;
}
.four{
	float: left;
	width: 50%;
	color: white;
	padding-top: 10px;
}  
.five{
	float: left;
	width: 50%;
	font-display: inline;
	text-align: right;
	padding-top: 25px;
}
.container{
	width: 80%;
	margin: auto;
}
.bgcolor{ background-color:grey;
     height:75px; }
.five input[type="submit"]{
	background-color:red;
	color: white;
	border: none;
} 
.six{
	float: left;
	width: 50%;
} 
.box{
	float: left;
	width: 50%;
	background-color:#454863;
	height:70%;
	width: 30%;
	padding: 10px 10px;
	color: white;
	margin-top: 15px;
	margin-left: 120px;
}  
.backcolor{ background-color:#e7e8eb;
     height:200px; } 
.clear{
	content: "";
	clear: both;
}
.seven{text-align: center;
	background-color:#6b8ef6;
	padding: 12px;
	color: white;

}
